<div class='header'>
  <div class='app-name'>
    MyMovie
  </div>
</div>

<div class='form-main'>
  <%= link_to 'メールアドレスで登録', new_user_registration_path, class: 'reg-email'%>
  <%= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post, class: 'reg-facebook'%>
  <%= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post, class: 'reg-google'%>
</div>

<div class='footer'>
  Copyright MyMovie. All Right Reserved.
</div>